$error_color: #ae1800;
$white_color: #ffffff;
$danger_color: #dd4b39;
$content_color: #777;
$border_table_color: #dee2e6;
$btn_border_color: #666;
$page_active_color: #337ab7;
$page_border_color: #d9d9d9;
$page_text_color: #666;
$heart_color: #ff9b8a;
$btn_hover_color: linear-gradient(#54c1ff, #1c72eb);

$color1: #d2d6de;
$color2: #444;
$color7: #1e90ff;
$color5: #777d74;
$color6: #ecf0f5;
$color4: rgb(94, 53, 177);

$hover_bg: #f5f3f3;
$main_bg: #ede7f6;
$input_bg_color: #e8f0fe;
$error_bg_color: #fdd4cd;
$home_bg: #e3f2fd;

$shadow_color: rgba(0, 0, 0, 0.35);
$shadow_color2: rgba(0, 0, 0, 0.2);
$shadow_color3: rgba(0, 0, 0, 0.4);

$font_size_14: 14px;
$font_size_16: 16px;
$font_size_40: 40px;

$xl_width: 1200px;
$lg_width: 992px;
$md_width: 768px;
$sm_width: 576px;
