@import "../../assets/scss/variables";
$bg_comment: #f0f2f5;

.document {
  &-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-text {
    color: $color2;
    .text-title {
      color: $color7;
      font-size: 28px;
      font-weight: 500;
    }
    .text-author {
      font-size: 22px;
      span {
        color: $color7;
      }
    }
    .text-description {
      font-size: 18px;
      text-align: justify;
    }
    .btn-add {
      font-size: $font_size_40;
      color: $heart_color;
      cursor: pointer;
    }
    .btn-read {
      color: $white_color;
      background-color: $color7;
      box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
      &:hover {
        background-image: $btn_hover_color;
      }
    }
  }
}

.comments {
  width: 720px;
  .cmt-input-form {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    .input-cmt {
      border: $color7 1px solid;
    }
    .btn-add-cmt {
      color: $white_color;
      background-color: $color7;
      box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
      &:hover {
        background-image: $btn_hover_color;
      }
    }
  }
}

.comment {
  .comment-text {
    background-color: $bg_comment;
    border-radius: 10px;
    .text-time {
      color: $color5;
      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 1.5px;
    }
    .text-content {
      font-size: 16px;
      line-height: 1.3;
    }
  }
  &-img {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
  .dropdown-btn {
    padding: 5px;
    &:hover {
      background-color: $color1;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $md_width) {
  .document {
    &-text {
      .text-title {
        font-size: 24px;
      }
      .text-author {
        font-size: 18px;
      }
      .text-description {
        font-size: 15px;
      }
      .btn-add {
        font-size: $font_size_40;
        color: $heart_color;
        cursor: pointer;
      }
      .btn-read {
        color: $white_color;
        background-color: $color7;
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
        &:hover {
          background-image: $btn_border_color;
        }
      }
    }
  }
}
