@import "../../assets/scss/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: $home_bg !important;
}
.wrapper {
  .main-content {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 60px;
    transition: 0.4s;
    &.active {
      width: calc(100% - 230px);
      margin-left: 230px;
    }
  }
}

@media screen and (max-width: $xl_width) {
  .wrapper {
    .main-content {
      width: 100%;
      margin-left: 0;
      &.active {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
